<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Betwixt</title>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser =
          <%= render('api/users/user.json.jbuilder',
              user: current_user
            ).html_safe %>
      </script>
    <% end %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
    <main id='root'>Something went wrong</main>
  </body>
</html>
