/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
body {
  line-height: 1;
}

/* line 34, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

/* line 11, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.modal-child {
  position: absolute;
  display: flex;
  align-content: space-around;
  align-items: space-around;
  text-align: center;
  top: 50%;
  left: 50%;
  background-color: #F4DBD8;
  transform: translate(-50%, -50%);
  padding: 100px;
  border-radius: 15px;
  font-size: 16px;
}

/* line 26, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.form-session {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 35px;
}

/* line 33, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.x-close {
  position: absolute;
  top: 25px;
  right: 45px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 20px;
}

/* line 44, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.x-close:hover {
  font-size: 24px;
  color: white;
}

/* line 48, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container {
  margin-bottom: 15px;
}
/* line 50, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container h3 {
  font-size: 28px;
}
/* line 53, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container .other-form-button {
  background: none;
  border: none;
  font-size: 14px;
  color: #04151F;
  text-decoration: underline;
  font-weight: bold;
}
/* line 62, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container .other-form-button:hover {
  cursor: pointer;
  color: #6B0504;
}
/* line 68, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container .submit-button {
  background-color: #04151F;
  border-radius: 5px;
  border: 2px solid #04151F;
  padding: 0px;
  color: white;
}
/* line 76, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container .submit-button:hover {
  color: #04151F;
  background-color: white;
  cursor: pointer;
}
/* line 82, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/modal.scss */
.login-form-container .errors {
  font-style: bold;
  font-size: 18px;
}

/* line 4, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header {
  display: block;
  text-align: center;
}
/* line 7, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .header-Link {
  display: inline-block;
  color: #04151F;
  font-size: 60px;
  text-decoration: none;
  font-weight: bold;
}
/* line 15, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .login-signup {
  float: right;
  margin-top: 10px;
  font-family: sans-serif;
}
/* line 19, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .login-signup button {
  margin-right: 15px;
}
/* line 23, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .login-signup .signup-button {
  color: #6B0504;
  font-size: 14px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  border-radius: 5px;
  border: 2px solid #6B0504;
}
/* line 34, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .login-signup .signup-button:hover {
  color: white;
  cursor: pointer;
  background: #6B0504;
}
/* line 42, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .greet-signout {
  float: right;
  font-family: sans-serif;
  display: flex;
  margin-right: 10px;
  font-size: 16px;
  align-items: center;
  margin-top: 15px;
}
/* line 51, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .greet-signout p {
  margin-right: 10px;
}
/* line 54, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .greet-signout welcome {
  color: #6B0504;
}
/* line 57, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .greet-signout .signout-button {
  margin-right: 10px;
}
/* line 60, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .greet-signout img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 67, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .login-button, header .signout-button {
  border: none;
  background: none;
  padding: 0;
  color: #6B0504;
  font-size: 14px;
}
/* line 75, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/nav.scss */
header .login-button:hover, header .signout-button:hover {
  cursor: pointer;
  text-decoration: underline black;
}

/* line 1, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/user_show.scss */
.user-show {
  display: flex;
  align-items: center;
  left: 50px;
  right: 50px;
  flex-direction: column;
  padding: 15px;
  padding-top: 30px;
  margin-top: 15px;
}
/* line 11, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/user_show.scss */
.user-show h3 {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 18, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/user_show.scss */
.user-show .user-profile-pic {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px dashed #EF6461;
}
/* line 27, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/user_show.scss */
.user-show .member-creation {
  color: darkgray;
  font-family: sans;
  font-size: 12px;
}
/* line 33, /home/gabriel/Desktop/betwixt/app/assets/stylesheets/components/user_show.scss */
.user-show .bio {
  font-family: sans;
  font-size: 24px;
}
