// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  form {
    width: 100%;
    text-align: center;
    .ql-toolbar.ql-snow {
      height: 0;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    button {

      border: none;
      background: none;
      color: $burgundy;
      font-size: 18px;
    }

    button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .error-message {
      margin: 10px 0;
    }
    margin-bottom: 10px;
  }

  .comments-list {
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 380px;
    .comment-item {
      display: flex;
      padding: 20px;
      margin: 10px;
      flex-direction: column;
      justify-content: space-around;
      border: 1px solid $pale-pink;
      box-shadow: 2px 2px $pale-pink;
      .author-info {
        display: flex;
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          padding: 5px;
        }
        a {
          text-decoration: none;
        }

        p {
          font-size: 14px;
        }
        .text-info {

          h3 {
            color: $burgundy;
            font-size: 24px;
            margin-bottom: 5px;
            text-decoration: none;
          }
        }
      }
      .comment-body {
        text-align: center;
        font-size: 18px;
        margin-left: 10px;
        padding: 5px;
      }
    }
  }
}
