.story-index.features {
  display: flex;
  justify-content: center;
  width: 65%;
  border-bottom: 1px solid lightgray;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .story-index.features {
    max-width: 340px;
    flex-wrap: wrap;
  }
}

.story-index.features li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex: 1;
  margin: 0;
  img {
    width: 100%;
  }
}
