// Place all the styles related to the Follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-container {
  margin: 5px;
  font-family: $main;
  padding: 5px;
  .Follow {
    color: $burgundy;
    font-size: 12px;
    background: white;
    border-radius: 5px;
    border: 1px solid $burgundy;
    font-family: $main;

  }

  .Follow {
    cursor: pointer;
  }

  .Following {
    color: white;
    background: $burgundy;
    font-family: $main;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid $burgundy;
  }

  .Following {
    cursor: pointer;
  }
}
