
.like-container {
  text-align: center;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

.heart:hover {
  cursor: pointer;
}

.sad:hover {
  cursor: pointer;
}

.sad {
  background-color: gray;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.sad:before,
.sad:after {
  content: "";
  background-color: gray;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.sad:before {
  top: -15px;
  left: 0;
}

.sad:after {
  left: 15px;
  top: 0;
}
