
.like-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    align-self:center;
    padding-left: 10px;
    font-family: $main;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 21px;
  }
}

.heart {
  background-color: red;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.heart:before {
  top: -6px;
  left: 0;
}

.heart:after {
  left: 6px;
  top: 0;
}

.heart:hover {
  cursor: pointer;
}

.sad:hover {
  cursor: pointer;
}

.sad {
  background-color: gray;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 12px;
}

.sad:before,
.sad:after {
  content: "";
  background-color: gray;
  border-radius: 50%;
  height: 12px;
  position: absolute;
  width: 12px;
}

.sad:before {
  top: -6px;
  left: 0;
}

.sad:after {
  left: 6px;
  top: 0;
}
