.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  font-family: $main;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: $main;

  text-align: center;
  background-color: $pale-pink;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 90px;
  min-height: 400px;
  min-width: 380px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.form-session {
  display: block;
  align-items: center;
  align-content: center;
  padding: 35px;
}

.x-close {
  position: absolute;
  top: 25px;
  right: 45px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 20px;
}

.x-close:hover {
  font-size: 24px;
  color: white;
}
.login-form-container {
  margin-bottom: 15px;
  font-family: $main;

  h3 {
    font-size: 32px;
    font-weight: bold;
  }
  .other-form-button {
    background: none;
    border: none;
    font-size: 14px;
    color: $my-black;
    text-decoration: underline;
    font-weight: bold;
  }

  .other-form-button:hover {
    cursor:pointer;
    color: $burgundy;

  }

  .input-field {
    margin: auto;
    font-size: 16px;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 16px;
    width: 35%;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .submit-button {
    background-color: $my-black;
    border-radius: 5px;
    border: 2px solid $my-black;
    padding: 5px;
    color: white;
    margin-bottom: 15px;
    font-family: $main;
    font-size: 15px;

  }

  .submit-button:hover {
    color: $my-black;
    background-color: white;
    cursor: pointer;
  }
}

.error-message {
  text-decoration: none;
  list-style: none;
  margin: 0 0 15px 0;
  font-style: bold;
  color: red;
  font-family: $main;

  font-size: 18px;
}
