// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  display: block;
  text-align: center;
  .header-Link {
    display: inline-block;
    color: $my-black;
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;
  }

  .login-signup {
    float: right;
    margin-top: 10px;
    font-family: sans-serif;
    button {
      margin-right: 15px;
    }

    .signup-button {
      color: $burgundy;
      font-size: 14px;
      padding: 10px 15px;

      background: white;
      border-radius: 5px;
      border: 2px solid $burgundy;
    }

    .signup-button:hover {
      color: white;
      cursor: pointer;
      background: $burgundy;
    }

  }

  .greet-signout {
    float: right;

    font-family: sans-serif;
    display: flex;
    margin-right: 10px;
    font-size: 16px;
    align-items: center;
    margin-top: 15px;
    p {
      margin-right: 10px;
    }
    welcome {
      color: $burgundy;
    }
    .signout-button {
      margin-right: 10px;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .login-button, .signout-button {
    border: none;
    background: none;
    padding: 0;
    color: $burgundy;
    font-size: 14px;
  }

  .login-button:hover, .signout-button:hover {
    cursor: pointer;
    text-decoration: underline black;
  }

}
