.search-container {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main;

  #searchParamsError {
    font-family: $main;
    color: red;
    margin-top: 8px;
    font-weight: 400;
  }

  .tab-header {
    width: 80%;
    justify-content: flex-start;
  }

  #no-results {
    margin-top: 15px;
    font-family: $main;
    font-size: 18px;
    font-weight: 400;
  }

  .search-form-container {
    font-family: $main;
    width: 60%;
    border-bottom: 1px solid lightgray;
    input {
      width: 100%;
      border: none;
      font-family: $main;
      font-size: 18px;
      font-weight: 400;
      outline: none;
    }
  }

  .users {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main;
    margin-top: 20px;
    width: 60%;

    li {
      min-width: 500px;
      max-width: 500px;
    }

    .author-display {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: row;
      padding: 10px;
      width: 80%;
      margin-bottom: 25px;
      padding: 15px;
      border:2px solid $burgundy;
    }

    .user-profile-pic {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      border: 2px dashed $pastel-red;
      padding: 5px;
      margin-right: 10px;
    }

      .user-details {
        display: flex;
        flex-direction: column;
        a {
          color: black;
          font-weight: bold;
          font-size: 18px;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
        .member-creation {
            color: $dark-gray;
        }
      }
    }
  }
