// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.controlsHide {
  display: none;
}
.edit-link {
  margin-right: 10px;
}

.edit-link:hover {
  text-decoration: underline;
}

.controlsShow {
  display: inline-block;
  position: relative;
  right: 5px;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin-right: 5px;
}

.remove-story {
  font-family: $main;
  border: none;
  background: none;
}

.remove-story:hover {
  text-decoration: underline;
  cursor: pointer;
}

.options {
  display: none;
}

.fa:target {
  font-size: 32px;
}

.story-item-li {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin: auto;
  justify-content: center;
  max-width: 75%;
  min-width: 270px;
  font-family: $main;
  word-wrap: break-word;
}
.story-index {
  display: block;
  padding: 25px;
  margin: auto;
  width: 55%;
  margin-top: 55px;
  font-family: $main;
  .story-header-img {

    top: 0;
    height: 200px;
    width: 200px;
    padding: 5px;
    width: 1;
  }
  .story-item {
    padding-top: 8px;
    width: 100%;
    font-family: $main;
    min-width: 280px;
    .story-title {
      font-size: 24px;
      text-decoration: none;
      color: black;
      font-family: $main;
      font-weight: bold;

    }

    .story-show-body {
      margin-top: 10px;
      margin-bottom: 0;
      padding-right: 8px;
      font-size: 16px;
    }

    .user-follow-container {
      display: flex;
      align-items: center;
    }

    .story-preview {
      text-decoration: none;
      font-size: 14px;
      color: $dark-gray;
      font-family: serif;
      margin-top: 5px;
      font-family: $main;
    }

    .update-date{
      display: none;
      font-size: 14px;
    }
    .arrow-up {
      display: none;
    }
    .create-date {
      margin: 5px 0;
      display: inline-block;
      font-size: 14px;
    }
    .create-date:hover + .update-date {
      font-size: 16px;
      position: absolute;
      display: block;
      background-color: rgba(0, 0, 0, .9);
      padding: 0px 7px 5px 7px;
      border-radius: 5px;
      color: white;
      margin-top: 5px;

      .arrow-up {
        position: relative;
        top: -5px;
        display: block;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
      }
    }

    .author {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-family: serif;
    }

    .author:hover {
      text-decoration: underline;
    }

  }
}
