.story-form {
  display: block;
  margin: auto;
  margin-top: 135px;
  width: 85%;
  text-align: center;
  .title-label {
    margin: auto;
    .title-input {
      width: 75%;
      margin-left: 5px;
      margin-bottom: 15px;
    }
  }
  
  .input-publish {

  }
}
