.story-show-container {
  display: block;
  padding: 25px;
  margin: auto;
  width: 80%;
  .author-display {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    width: 80%;
    .user-profile-pic {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      border: 2px dashed $pastel-red;
    }
    .user-details {
      display: flex;
      flex-direction: column;
    }
  }

  .story-display{
    padding: 25px;
    margin: 30px 10vw 20px 15vw;
    .story-title {
      text-align: center;
      font-size: 28px;
      font-family: sans-serif;
    }

    .story-author {

    }

    .story-body {

    }

    .story-create-date {

    }
  }
}
