.story-form {
  display: block;
  margin: auto;
  margin-top: 135px;
  width: 85%;
  text-align: center;

  .title-label {
    margin: auto;
    font-size: 18px;
    .title-input {
      width: 75%;
      margin-left: 5px;
      margin-bottom: 15px;
      font-size: 18px;
    }
    margin-bottom: 15px;
  }

  .subtitle-label {
    margin: auto;
    font-size: 16px;
    .subtitle-input {
      width: 65%;
      margin-left: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
      font-size: 16px;
    }
  }
  .image-input {
    display: inline-block;
    margin: 20px;
  }

  .header-image-label {
    display: inline-block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .story-header-img {
    margin: 20px;
    width: 500px;
    height: 400px;
  }

  .quill {
    margin: 15px;

  }

  .input-publish {
    margin: 20px;
    border: none;
    background: none;
    color: $burgundy;
    font-size: 18px;
    margin-bottom: 35px;
  }

  .input-publish:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .error-message {
    margin-top: 10px;
    li {
      padding: 5px;
    }
  }
  p {
    font-style: inherit;
  }
  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  blockquote {
    display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 40px;
   margin-right: 40px;
  }
}
