.story-show-container {
  display: block;
  padding: 25px;
  margin: auto;
  width: 80%;
  margin-top: 55px;
  .author-display {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    width: 80%;
    .user-profile-pic {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      border: 2px dashed $pastel-red;
    }
    .user-details {
      display: flex;
      flex-direction: column;
    }
  }

  .story-display{
    padding: 25px;
    display: block;
    margin: auto;
    width: 80%;
    .story-title {
      text-align: center;
      font-size: 36px;
      font-family: sans-serif;
      margin-bottom: 15px;
    }

    .story-body {
      font-size: 18px;
      font-family: serif;
      margin-bottom: 15px;
    }

    .story-date {
      color: darkgray;
    }

    .update-date {
      display: none;
    }
    .story-date:hover + .update-date {
      font-size: 16px;
      position: absolute;
      display: inline-block;
      background-color: rgba(0, 0, 0, .9);
      padding: 0px 7px 5px 7px;
      border-radius: 5px;
      color: white;
      margin-top: 5px;
      .arrow-up {
        position: relative;
        top: -7px;
        display: block;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
      }

    }
  }
}
