.user-name-follow {
  display: flex;
  align-items: center;
}

.tag-list {
  display: flex;
  font-family: $main;
  justify-content: space-between;
  li {
    padding: 5px 10px;
    background: lightgray;
    margin: 5px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
  }
}

.story-show-body {
  font-family: $main;
  p {
    font-style: inherit;
  }
  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.story-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  margin: auto;
  width: 95%;
  align-self: center;
  margin-top: 65px;
  align-items: center;
  align-content: center;
  font-family: $main;
  .author-display {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    width: 80%;
    margin-bottom: 25px;

    .member-creation {
      color: $dark-gray;
    }
    .user-profile-pic {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      border: 2px dashed $pastel-red;
      padding: 5px;
      margin-right: 10px;
    }
    .user-details {
      display: flex;
      flex-direction: column;
      a {
        color: black;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .story-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 25px;
    padding: 5px;
    margin-bottom: 5px;
    margin: auto;
    width: 80%;

    .story-header-img {
      width: 80%;
      height: 35%;
      max-height: 500px;
      margin: 10px;
      padding: 25px;
    }

    .story-title {
      text-align: center;
      font-size: 40px;
      max-width: 80%;
      font-family: $main;
      margin-bottom: 15px;
      font-weight: bold;
      word-wrap: break-word;
    }

    .story-subtitle {
      margin: 15px 0;
      text-align: center;
      font-family: $main;
      font-size: 24px;
      color: gray;
      max-width: 80%;
      word-wrap: break-word;
    }

    .story-show-body {
      width: 60%;
      font-weight: 400;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: -.003em;
      font-size: 21px;
      font-family: $main;
      margin-bottom: 15px;
    }

    .story-date {
      margin: 15px 10px;
      color: $dark-gray;
    }

    .update-date {
      display: none;
    }
    .story-date:hover + .update-date {
      font-size: 16px;
      position: absolute;
      display: inline-block;
      background-color: rgba(0, 0, 0, .9);
      padding: 0px 7px 5px 7px;
      border-radius: 5px;
      color: white;
      margin-top: 5px;
      .arrow-up {
        position: relative;
        top: -7px;
        display: block;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
      }

    }
  }
}
