// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.story-index {
  display: block;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px 10vw 20px 15vw;
  .story-item {
    padding: 10px;
    .story-title {
      font-size: 24px;
      text-decoration: none;
      color: black;
      font-family: sans-serif;
    }

    .story-preview {
      text-decoration: none;
      font-size: 14px;
      color: darkgray;
      font-family: serif;
    }

    .update-date {
      display: none;
    }


    .create-date:hover {
      .update-date {
        font-size: 24px;
        display: inline-block;
      }
    }

    .author {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-family: serif;
    }

    .author:hover {
      text-decoration: underline;
    }

  }
}
