.user-show-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 65%;
  margin: auto;
  align-items: center;
  margin-top: 65px;
  align-content: center;
  flex-direction: column;
  font-family: $main;

  .user-header-info {
    display: flex;
    flex-direction: row;
  }
  .user-profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px dashed $pastel-red;
    padding: 5px;
    margin-right: 10px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    font-family: $main;

    h3 {
      font-size: 21px;
      font-family: $main;
      font-weight: bold;
    }

    .bio {
      margin-top: 5px;
      color: black;
      font-size: 16px;
      font-family: $main;
      padding: 5px;
    }

    .member-creation {
      color: $dark-gray;
      font-family: $main;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .cannot-edit {
      display: none;
    }

    .edit-link {
        margin-top: 10px;
        border: none;
        background: none;
        color: $burgundy;
        font-size: 18px;
        text-decoration: none;
        font-family: $main;

      }

      .edit-link:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .following-info {
        display: flex;
        font-family: $main;

        p {
          color: $burgundy;
          font-size: 14px;
          margin: 5px;

        }
      }
    }
  }
