.user-show-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 65%;
  margin: auto;
  align-items: center;
  margin-top: 65px;
  align-content: center;
  flex-direction: column;

  .user-header-info {
    display: flex;
    flex-direction: row;
  }
  .user-profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px dashed $pastel-red;
    padding: 5px;
    margin-right: 10px;
  }

  .user-details {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 18px;
      font-family: sans-serif;
    }

    .bio {
      color: darkgray;
    }

    .member-creation {
      color: darkgray;
    }

    .cannot-edit {
      display: none;
    }
    .edit-link {
        margin-top: 10px;
        border: none;
        background: none;
        color: $burgundy;
        font-size: 18px;
        text-decoration: none;
      }

      .edit-link:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
