.user-stories {
  display: block;
  padding: 25px;
  margin: auto;
  width: 80%;
  font-family: $main;
  min-width: 640px;
  .story-header-img {
    top: 0;
    height: 200px;
    width: 200px;
    padding: 5px;
    padding-left: 10px;
    width: 1;
  }
  .story-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    padding: 5px;
    font-family: $main;
    min-width: 320px;
  }

  .story-item-li {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    width: 100%;
    min-width: 600px;
    font-family: $main;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .edit-link {
        margin-top: 10px;
        border: none;
        background: none;
        color: $burgundy;
        font-size: 18px;
        text-decoration: none;
        font-family: $main;

      }

      .edit-link:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    .story-title {
      font-size: 24px;
      text-decoration: none;
      color: black;
      font-family: $main;
      font-weight: bold;
    }

    .story-preview {
      text-decoration: none;
      font-size: 14px;
      color: $dark-gray;
      font-family: $main;
      word-wrap: break-word;

    }
    .create-date {
      display: inline-block;
      width: 20%;
      font-size: 14px;
      position: inherit;
    }
    .update-date {
      display: none;
    }
    .arrow-up {
      display: none;
    }

    .author {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-family: $main;
    }

    .author:hover {
      text-decoration: underline;
    }
  }
}
